<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Voluntário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <!-- Cabecalho do site -->
    <nav class="navbar navbar-expand-lg shadow-sm p-3 mb-3 bg-white rounded">
        <div class="container-fluid">
            <a class="navbar-brand me-auto text-primary" href="#">APOIO EDUCACIONAL</a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </nav>

    <!-- formulario para adicionar um voluntario no sistema -->
    <div class="container-fluid">
        <div class="row justify-content-center mt-5 pt-4">
            <section class="col-12 col-sm-6 col-md-4">
                <form action="" class="container-form p-4 mt-5 rounded-4 shadow" 
                  style="background-color: #f0f4ff; box-shadow: 0 4px 20px rgba(0, 0, 100, 0.12)">
                    <h2 class="text-center mb-4">Formulário Voluntario</h2>

                    <div class="form-group mb-3">
                        <label for="nome" class="form-label fw-semibold">Nome</label>
                        <input type="text" id="nome" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="disponibilidade" class="form-label fw-semibold">Disponibilidade</label>
                        <input type="text" id="disponibilidade" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="tipo_apoio" class="form-label fw-semibold">Tipo de Apoio</label>
                        <input type="text" id="tipo_apoio" class="form-control">
                    </div>

                    <div class="form-group mb-4">
                        <label for="email" class="form-label fw-semibold">E-mail</label>
                        <input type="email" id="email" class="form-control">
                    </div>
                    <button onclick="criarVoluntario()" class="btn btn-primary btn-block fw-bold w-100">Cadastrar</button>
                </form>
            </section>
        </div>
    </div>

<script src="{{ url_for('static', filename='JS/formulario_voluntario.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>