<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Solicitante</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <!-- Cabecalho do site -->
    <nav class="navbar navbar-expand-lg shadow-sm p-3 bg-white rounded">
        <div class="container-fluid">
            <a class="navbar-brand me-auto text-primary" href="#">APOIO EDUCACIONAL</a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>  
            </div>
        </div>
    </nav>

    <!-- Tabela para exibir dados do solicitante -->
    <div class="container mt-5 pt-5">
        <h2 class="text-center">Lista de Solicitante</h2>
        <div class="row justify-content-center">
            <div class="table-responsive col-7">
                <table class="table table-striped table-hover table-bordered table-sm" id="tabelaSolicitante">
                    <thead class="table-primary border">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Dificuldade</th>
                            <th scope="col">Horário Disponivel</th>
                            <th scope="col">Email</th>
                        </tr>
            
                    </thead>
                    <tbody class="table-group-divider"></tbody>
                </table>
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='JS/tabela_solicitante.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>