<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendimentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light pt-100">
    <!-- Cabecalho do site -->
    <nav class="navbar navbar-expand-lg shadow-sm p-3 mb-3 bg-white rounded fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand me-auto text-primary" href="#">APOIO EDUCACIONAL</a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Tabela para criar atendimento -->
    <div class="container mt-5">
        <h4 class="fw-bold mb-4">Atendimentos</h4>
        <div class="card p-4 mb-4 shadow-sm">
            <h6 class="fw-bold mb-3">Novo Atendimento</h6>
            <div class="row g-3">
                <div class="col-md-5">
                    <label class="form-label fw-semibold">ID do Voluntário</label>
                    <input type="number" id="voluntario_id" class="form-control" placeholder="Ex: 1">
                </div>
                <div class="col-md-5">
                    <label class="form-label fw-semibold">ID do Solicitante</label>
                    <input type="number" id="solicitante_id" class="form-control" placeholder="Ex: 1">
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button onclick="criarAtendimento()" class="btn btn-primary w-100">Salvar</button>
                </div>
            </div>
        </div>

        <!-- Tabela para exibir os atendimentos cadastrados -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="tabelaAtendimentos">
                <thead class="table-dark border">
                    <tr>
                        <th>ID</th>
                        <th>Voluntário</th>
                        <th>Solicitante</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
  
<script src="{{ url_for('static', filename='JS/tabela_atendimento.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>